@import 'bootstrap/dist/css/bootstrap';
@import './imports/_variables.scss';

.app-wrapper {
  height: 100%;
  background-color: lightgrey;

  .user-entry-wrapper {
    background: url('../assets/purple-bg.jpg');
    background-size: cover;

    .user-entry {
      .card-header {
        background-color: $white;
        border-bottom: none;
      }
      .card-footer {
        background-color: $white;
        border-top: none;
      }
    }
  }
}

