.card {
  width: 90%;
  margin: 0 auto 1rem;
  padding: 2rem;

  &:hover {
    background-color: darken(white, 5%);
  }

  &.front {
    border: solid black 1px;
  }
  &.back {
    border: solid navy 1px;
  }

  .card-side {
    position: absolute;
    top: 0;
    font-weight: bold;
  }
}
